
body{
    background-color: hsl(217, 54%, 11%);
    color: #faebd7;
}

section{
    background-color: hsl(216, 50%, 16%);
    height: 507px;
    width: 340px;
    border-radius: 1.5rem ;
    margin: auto;
    margin-top: 100px;
    padding-top: 1rem;
} 


.NFT{
    align-self: flex-start;
}
#nftimage{
    align-self: center;
    width: 310px;
    border-radius: 1.5rem ;
}



