@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap');
body{
    background-color: hsl(217, 54%, 11%);
    color: #faebd7;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

section{
    background-color: hsl(216, 50%, 16%);
    height: 580px;
    width: 360px;
    border-radius: 1rem ;
    padding-top: 1.6rem;
    box-shadow: 1px 1px 20px 30px hsl(215, 72%, 8%);
} 


.NFT{
    width: fit-content;
    margin: auto;
    position: relative;
}

#nftimage{
    width: 310px;
    border-radius: 0.5rem;
}
#hover{
    z-index: -10;
    position: absolute;
    top: 43%;
    right: 42%;
}
#nftimage:hover ~ img{
    z-index: 100;
}
#nftimage:hover{
    filter: invert(25%) sepia(100%) saturate(550%) hue-rotate(140deg) brightness(90%) contrast(100%);
}

.NFT-name{
    padding-top: 15px;
    padding-left: 1.6rem;
    font-size: 20px;
    font-weight: 600;
}
.NFT-name:hover{
    color: aqua;
    width: fit-content;
}

.NFT-description{
    padding-top: 15px;
    padding-left: 1.6rem;
    font-size: 18px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.prop{
    display: flex;
    justify-content: space-between;
    padding-top: 1.8rem;
    padding-right: 2rem;
    padding-left: 1.6em;
}
.NFT-price{
    width: fit-content;
    display: flex;
}
#NFT-price-icon{
    padding-right: 6px;
}
.NFT-price-Num{
    color: aqua;
    font-weight: 600;
}

.delai{
    width: fit-content;
    display: flex;
}
#delai-icon{
    padding-right: 6px;
}
.delai-txt{
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.ligne{
    border-top: 1px solid;
    border-color: hsl(215, 32%, 27%);
    margin-top: 1.6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.NFT-owner{
    padding-top: 1.2rem;
    padding-left: 1.8rem;
    display: flex;
    align-items: center;
}
#NFT-owner-icon{
    width: 35px;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
}
.NFT-owner-txt{
    padding-left: 15px;
    font-size: 100;
    color: hsl(215, 51%, 70%);
}
span{
    color:#faebd7;
}
span:hover{
    color: aqua;
    width: fit-content;
}